
@{
    ViewData["Title"] = "Kontakt";
}

<h1 class="display-3 font-weight-normal text-dark text-center">Zapraszamy do kontaku</h1>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2576.0631702935466!2d19.055293216000837!3d49.78487697938902!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47169fc0a7862b97%3A0xab58f9e2cef89ecf!2sAkademia+Techniczno-Humanistyczna!5e0!3m2!1spl!2spl!4v1558638284430!5m2!1spl!2spl" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

