@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center display-4">Zarządzaj kontem</h1>

<div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
