
@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center display-4" >Panel Administratora</h1>


<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6 mb-2">
            <a class="btn btn-lg btn-primary" style="height:100%;" asp-controller="Manage" asp-action="AllProducts">Zarządzaj produktami<br />  <i class="cen fas fa-utensils"></i></a>
        </div>

        <div class="col-md-3 col-sm-6 mb-2">
            <a class="btn btn-lg btn-primary" style="height:100%;" asp-controller="Manage" asp-action="AllUsers">Zarządzaj użytkownikami  <i class="fas fa-users"></i></a>
        </div>

        <div class="col-md-3 col-sm-6 mb-2">
            <a class="btn btn-lg btn-primary"  style="height:100%;"asp-controller="Manage" asp-action="AllOrders">Zarządzaj zamówieniami  <i class="fas fa-truck"></i></a>
        </div>

        <div class="col-md-3 col-sm-6 mb-2">
            <a class="btn btn-lg btn-primary" style="height:100%;" asp-controller="Manage" asp-action="AllRestaurants">Zarządzaj restauracjami  <i class="fas fa-utensils"></i></a>
        </div>
    </div>
</div>
