@model PracaInzynierska.Models.Entities.Product

@{
    ViewData["Title"] = "ProductEdit";
}

    <h2 class="text-center display-4">Edycja produktu</h2>

<h4 class="text-center">@Model.Name</h4>
<hr />
<div class="container">
    <div class="row">
        <div class="col">
            <form asp-action="ProductEdit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ProductId" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NameOfImage" class="control-label"></label>
                    <input asp-for="NameOfImage" class="form-control" />
                    <span asp-validation-for="NameOfImage" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="file" name="file" class="btn btn-secondary" />
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="ProductOfTheDay" /> @Html.DisplayNameFor(model => model.ProductOfTheDay)
                    </label>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Hidden" /> @Html.DisplayNameFor(model => model.Hidden)
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label">Kategoria</label>
                    @Html.DropDownListFor(x => x.CategoryId, new SelectList(ViewBag.Categories, "CategoryId", "Name", Model.Category.CategoryId))
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Zapisz" class="btn btn-success" />
                </div>
            </form>
            <div>
                <a class="btn btn-primary" asp-action="Index">Wróć</a>
            </div>
        </div>
    </div>
</div>


