@model PracaInzynierska.Models.Entities.Product
@using PracaInzynierska.Infrastructure;
@{
    ViewBag.Title = "Description";
}

@*@Html.Action("CategoryNav", "Product")*@

<div class="container-fluid">
    <div class="jumbotron bg-warning text-center">
        <div class="row">
            <div class="col-md-4 my-3">
                <img src=@Url.ProductImagePath(Model.NameOfImage) class="img-fluid" alt="Obrazek produktu">
            </div>
            <div class="col-md-8 mt-3">
                <h4 class="display-3 pt-2">@Model.Name</h4>
                <p class="lead ml-1">
                    @Model.Description
                </p>
                <hr />
                <p class="font-weight-normal display-4">@Model.Price.ToString("c")</p>
                @Html.ActionLink("Dodaj do zamówienia", "Add", "Cart", new { id = Model.ProductId }, new { @class = "btn btn-success" })
            </div>
        </div>
    </div>
</div>
